name: Close Flathubbot Failure Issues

on:
  workflow_dispatch:

jobs:
  close-issues:
    runs-on: ubuntu-latest

    steps:
        # 4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false

      - name: Install dependencies
        run: |
          pip3 install 'PyGithub==2.3.0'

      - name: Run script
        run: python3 .github/scripts/close_job_failure_issues.py
        env:
          GITHUB_TOKEN: ${{ secrets.FLATHUBBOT_TOKEN }}
